<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dingmouren.examplesforandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 操作符列表界面 -->
        <activity android:name=".ui.operators.OperatorsActivity" />
        <activity android:name=".ui.operators.operator.CreateOperatorActivity" />
        <activity android:name=".ui.operators.operator.JustOperatorActivity"/>
        <activity android:name=".ui.operators.operator.MapOperatorActivity"/>
        <activity android:name=".ui.operators.operator.ZipOperatorActivity"/>
        <activity android:name=".ui.operators.operator.FlatMapOperatorActivity"/>
        <activity android:name=".ui.operators.operator.ConcatMapOperatorActivity"/>
        <activity android:name=".ui.operators.operator.FilterOperatorActivity"/>
        <activity android:name=".ui.operators.operator.TakeOperatorActivity"/>
        <activity android:name=".ui.operators.operator.DoOnNextOperatorActivity"/>
        <activity android:name=".ui.operators.operator.TimerOperatorActivity"/>
        <activity android:name=".ui.operators.operator.IntervalOperatorActivity"/>
        <activity android:name=".ui.operators.operator.SingleActivity"/>
        <activity android:name=".ui.operators.operator.CompletableOperatorActivity"/>
        <activity android:name=".ui.operators.operator.MayBeOperatorActivity"/>
        <activity android:name=".ui.operators.operator.SkipOperatorActivity"/>
        <activity android:name=".ui.operators.operator.ConcatOperatorActivity"/>
        <activity android:name=".ui.operators.operator.DistinctOperatorActivity"/>
        <activity android:name=".ui.operators.operator.BufferOperatorActivity"/>
        <activity android:name=".ui.operators.operator.DebounceOperatorActivity"/>
        <activity android:name=".ui.operators.operator.DeferOperatorActivity"/>
        <activity android:name=".ui.operators.operator.LastOperatorActivity"/>
        <activity android:name=".ui.operators.operator.MergeOperatorActivity"/>
        <activity android:name=".ui.operators.operator.ReduceOperatorActivity"/>
        <activity android:name=".ui.operators.operator.ScanOperatorActivity"/>
        <activity android:name=".ui.operators.operator.WindowOperatorActivity"/>
        <activity android:name=".ui.operators.operator.PublishSubjectActivity"/>
        <activity android:name=".ui.operators.operator.AsyncSubjectActivity"/>
        <activity android:name=".ui.operators.operator.BehaviorSubjectActivity"/>
        <activity android:name=".ui.operators.operator.FlowableActivity"/>
        <!-- 例子列表界面 -->
        <activity android:name=".ui.examples.ExamplesActivity" />
        <activity android:name=".ui.examples.example_1.DownloadActivity"/>

    </application>

</manifest>